# No 1 - Euclidean Distance
Ryan Razaan Gunawan

In [1]:
import numpy as np
import pandas as pd
from math import sqrt

In [2]:
# calculate the Euclidean distance between two vectors
def euclidean_distance(row1, row2):
	distance = 0.0
	for i in range(len(row1)-1):
		distance += (row1[i] - row2[i])**2
	return sqrt(distance)

In [9]:
def get_neighbors(train, test_row, num_neighbors):
	distances = list()
	for train_row in train:
		dist = euclidean_distance(test_row, train_row)
		distances.append((train_row, dist))
	distances.sort(key=lambda tup: tup[1])
	neighbors = list()
	for i in range(num_neighbors):
		neighbors.append(distances[i][0])
	return neighbors

In [10]:
def predict_classification(train, test_row, num_neighbors):
	neighbors = get_neighbors(train, test_row, num_neighbors)
	output_values = [row[-1] for row in neighbors]
	prediction = max(set(output_values), key=output_values.count)
	return prediction

In [3]:
dataset  = {
        'd1'  : [1.1, 1.4, 1, 20],
        'd2'  : [100, 1.4, 1, 20],
        'd3'  : [1.2, 1.4, 1, 20],
        'd4'  : [1.6, 1.5, 1, 20],
        'd5'  : [1.6, 100, 1, 20],
        'd6'  : [1.1, 1.4, 1, 20],
        'd7'  : [1.1, 1.4, 1, 20],
        'd8'  : [1.2, 1.2, 100, 20],
        'd9'  : [1, 1, 2, 20],
        'd10' : [1, 1, 2, 20]
        }

In [4]:
dataset = pd.DataFrame(dataset)
dataset

     d1     d2    d3    d4     d5    d6    d7     d8  d9  d10
0   1.1  100.0   1.2   1.6    1.6   1.1   1.1    1.2   1    1
1   1.4    1.4   1.4   1.5  100.0   1.4   1.4    1.2   1    1
2   1.0    1.0   1.0   1.0    1.0   1.0   1.0  100.0   2    2
3  20.0   20.0  20.0  20.0   20.0  20.0  20.0   20.0  20   20

In [5]:
obj_query = np.array([1,1,1,1,1,1,1,1,1,1]).reshape(-1,1)

In [6]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_data = scaler.fit_transform(dataset)
obj_query = scaler.fit_transform(obj_query)
scaled_data

array([[-0.58542978,  1.70111325, -0.57726317, -0.54821361, -0.71268926,
        -0.58542978, -0.58542978, -0.72064885, -0.61780206, -0.61780206],
       [-0.54864886, -0.71574217, -0.55269878, -0.56060262,  1.70137693,
        -0.54864886, -0.54864886, -0.72064885, -0.61780206, -0.61780206],
       [-0.59769009, -0.72554686, -0.60182756, -0.62254766, -0.72740917,
        -0.59769009, -0.59769009,  1.70112347, -0.49424165, -0.49424165],
       [ 1.73176873, -0.25982421,  1.7317895 ,  1.7313639 , -0.26127851,
         1.73176873,  1.73176873, -0.25982577,  1.72984578,  1.72984578]])

In [7]:
for i in range (4):
    distance = euclidean_distance(obj_query, scaled_data[i])
    print("Data ke-",i+1," | Distance : ", distance)

Data ke- 1  | Distance :  2.4422697287062456
Data ke- 2  | Distance :  2.414701308738931
Data ke- 3  | Distance :  2.452570193547208
Data ke- 4  | Distance :  4.264907455917822

Berdasarkan rumus Euclidean Distance, Data yang paling similar/mirip dengan Object Query adalah Data ke-2.